<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <div class="main w-full h-screen bg-zinc-900 p-10 text-white">
        <h2 class="text-4xl text-center text-red-200">Control Game Outcome</h2>
        <div class="flex flex-col gap-3 items-center mt-6">
            <a href="/set_control/0" class="bg-red-500 w-[100px] text-center rounded-md px-3 py-2 text-sm mb-1 inline-block">Win</a>
            <a href="/set_control/1" class="bg-red-500 w-[100px] text-center rounded-md px-3 py-2 text-sm mb-1 inline-block">Lose</a>
            <a href="/set_control/2" class="bg-red-500 w-[100px] text-center rounded-md px-3 py-2 text-sm mb-1 inline-block">Random</a>
        </div>
    </div>
</body>
</html>